<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="{{ url }}">

    <!-- Open Graph -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:site_name" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ url }}/assets/img/open-graph-preview.png" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ url }}/assets/img/twitter-preview.png" />

    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/katex.min.css">
    <link rel="stylesheet" href="assets/css/highlight.min.css">
    <style>
      {{ styles }}
    </style>
  </head>

  <body>
    <main>
      <article>
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>

        <address>
          {% for author in authors %}
          <div class="author-cell">
            <span class="author-name">
              <a title="{{ author.name }}" href="{{ author.link }}">{{ author.name }}</a>
            </span>
            <span class="author-affiliation">
              <a title="{{ author.affiliation }}" href="{{ author.affiliationLink }}">
                {{ author.affiliation }}
              </a>
            </span>
          </div>
          {% endfor %}
        </address>

        {% if links %}
        <div class="links">
        {% for link in links %}
          <div class="link-cell">
            <a title="{{ link.name }}" href="{{ link.url }}">{{ link.name }}</a>
          </div>
        {% endfor %}
          {% if date %}
          <div class="link-cell date">
            <i>{{ date }}</i>
          </div>
          {% endif %}
        </div>
        {% endif %}

        {{ article }}
      </article>
    </main>

    <footer>
      This work is released under the
      <a title="CC BY 4.0" href="https://creativecommons.org/licenses/by/4.0/">
        CC BY 4.0</a> license.
      Powered by Bryon Tjanaka's
      <a title="Instill" href="https://github.com/btjanaka/instill">
        Instill</a> template.
    </footer>
  </body>
</html>
